image: node:20-alpine

stages:
  - lint
  - build

cache:
  key: npm-ci
  paths:
    - node_modules/

default:
  before_script:
    - npm ci

lint:
  stage: lint
  script:
    - npm run lint

build:
  stage: build
  needs: ["lint"]
  script:
    - npm run build
  artifacts:
    paths:
      - .next
    expire_in: 1 week
  only:
    - main
    - merge_requests

